body {
    min-height: 97vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}
.container {
    background-color: #ccc;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}
.previous-logs {
    background-color: #aaa;
    width: 370px;
    height: 230px;
}