body {
    min-height: 97vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}
.container {
    background-color: #ccc;
    width: 300px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.previous-logs {
    background-color: #aaa;
    width: 270px;
    height: 30px;
}