body {
    min-height: 97vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aaaaaa;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
    background-color: #cccccc;
    width: 300px;
    height: 250px;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
}
.previous-logs {
    background-color: #eee;
    text-align: center;
    border-radius: 5px;
    font-size: 16pt;
    width: 120px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.display {
    font-size: 16pt;
}
.start-timer-btn {
    width: 220px;
    height: 65px;
    border-radius: 5px;
    border: none;
    font-size: 20pt;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}
.start-timer-btn::selection{
    background-color: transparent;
}